<?xml version="1.0"?>
<!--Test-specific configuration for OpenSSL benchmark-->
<PhoronixTestSuite>
  <Options>
    <Testing>
      <SaveTestLogs>TRUE</SaveTestLogs>
    </Testing>
    <TestResultValidation>
      <DynamicRunCount>FALSE</DynamicRunCount>
      <LimitDynamicToTestLength>20</LimitDynamicToTestLength>
    </TestResultValidation>
    <BatchMode>
      <RunAllTestCombinations>TRUE</RunAllTestCombinations>
    </BatchMode>
  </Options>
</PhoronixTestSuite>
