<?xml version="1.0"?>
<!--Test-specific configuration for PostgreSQL pgbench 1.11.1 benchmark-->
<!--Multi-threaded via -j $NUM_CPU_CORES (already implemented in install.sh)-->
<PhoronixTestSuite>
  <Options>
    <Testing>
      <SaveTestLogs>TRUE</SaveTestLogs>
    </Testing>
    <TestResultValidation>
      <DynamicRunCount>FALSE</DynamicRunCount>
      <LimitDynamicToTestLength>20</LimitDynamicToTestLength>
    </TestResultValidation>
  </Options>
  <TestOptions>
    <Test>
      <Identifier>pts/pgbench-1.11.1</Identifier>
      <Option>100</Option>
      <Option>50</Option>
      <Option> </Option>
    </Test>
  </TestOptions>
</PhoronixTestSuite>
