<?xml version="1.0"?>
<!--Test-specific configuration for Redis 1.3.1 benchmark-->
<!--Multi-threaded via threads option and NUM_CPU_CORES (custom install.sh)-->
<PhoronixTestSuite>
  <Options>
    <Testing>
      <SaveTestLogs>TRUE</SaveTestLogs>
    </Testing>
    <TestResultValidation>
      <DynamicRunCount>FALSE</DynamicRunCount>
      <LimitDynamicToTestLength>20</LimitDynamicToTestLength>
    </TestResultValidation>
  </Options>
  <TestOptions>
    <Test>
      <Identifier>pts/redis-1.3.1</Identifier>
      <Option>get</Option>
    </Test>
  </TestOptions>
</PhoronixTestSuite>
